<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [1]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [24]:
for i in range(1,21,2):
        print(i)

1
3
5
7
9
11
13
15
17
19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [25]:
for i in range(1,21,2):
    #Check odd numbers
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [31]:
total = 0
for i in range(100):
    total += i
    
print(total)

4950

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [35]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [41]:
for i in friends:
    print(f"{i} IS AWESOME!")

Alice IS AWESOME!
Bob IS AWESOME!
Charlie IS AWESOME!
Debbie IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [42]:
for i in friends:
    print(f"{i} IS AWESOME!")

alice IS AWESOME!
bob IS AWESOME!
charlie IS AWESOME!
debbie IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [50]:
for i in range(31):
    if i%3 == 0:
        print("Fizz")
    else:
        print(i)

Fizz
1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [54]:
for i in range(31):
    if i%3 == 0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [55]:
for i in range(31):
    if (i%3 == 0) and (i%5 == 0):
        print("FizzBuzz")
    if i%3 == 0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

FizzBuzz
Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
Fizz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [58]:
fact = "Python programming is fun."
sentence = fact
print(fact)

Python programming is fun.

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [59]:
sentence.count('y')

1

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [71]:
sentenct_rm = ""
#print(type(sentenct_rm))
for i in sentence:
    if i == " ":
        continue
    else:
        print(i)
        sentenct_rm = sentenct_rm + i

P
y
t
h
o
n
p
r
o
g
r
a
m
m
i
n
g
i
s
f
u
n
.

In [72]:
print(sentenct_rm)

Pythonprogrammingisfun.

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [6]:
def Prime_Number(num):
    for i in range(2, num):
        if (num % i) == 0:
            print("Number is not Prime")
            return False
    print("Prime number")
    return True

In [42]:
fav_number = input("Please enter Number : ")
Prime_Number(int(fav_number))

Please enter Number :  99

Number is not Prime

False

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [23]:
#Str = "1234321"
Num = 0
rNum = 0
Num = int(input("Get input number "))
Temp = Num
while Temp != 0:
    digit = Temp % 10
    rNum = rNum * 10 + digit
    Temp = Temp / 10

if (Num == rNum):
    print(f"A number {Num} is palindromic")
else:
    print(f"A number {Num} is not palindromic")

Get input number  1234321

A number 1234321 is not palindromic

In [33]:
Input_String = "1234321"
reverse_String = str[::-1]
print(str)
print(reverse_str)

if Input_String == reverse_String:
    print("Palindromic")
else:
    print("Not Palindromic")

1234321
1234321
Palindromic

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [1]:
tot = 0
for x1 in range(10,100):
    for x2 in range(10,100):
        cal = str(x1 * x2)
        if cal == cal[::-1]:
            result = x1 * x2
print(result)

9009

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [52]:
Num = []
for n in range(1,11):
    Num.append(n)

In [53]:
print(Num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [55]:
Num = []
for n in range(1,11):
    Num.append(n**2)
print(Num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [56]:
Num = []
for n in range(18,48):
    if n%2 != 0:
        Num.append(n)
print(Num)

[19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47]

52) Create a list of the squares of the even numbers between 1 and 20.

In [57]:
Num = []
for n in range(18,48):
    if n%2 == 0:
        Num.append(n)
print(Num)

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [59]:
sum = 0
for n in range(7,38):
        sum = sum + (n**3)
print(sum)

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [62]:
Num = []
for n in range(1,31):
    if n%3 == 0 or n%5 == 0 :
        Num.append(n)
print(Num)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [64]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [67]:
Upper_list = []
for x in friends:
    Upper_list.append(x.upper())
print(Upper_list)

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [36]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']
friends
vowels = ["a", "e", "i", "o", "u"]

In [41]:
friend = [friend for friend in friends if friend.lower()[-1] in vowels]
friend

['Alice', 'Charlie']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [44]:
vowels = ["a", "e", "i", "o", "u"]
#vowelsCSV = ",".join(vowels)
#vowelsCSV

sentence = ", ".join([friend for friend in friends if friend.lower()[-1] in vowels])
sentence

'Alice, Charlie'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [58]:
#Example = ['Jan 5.xlsx', 'Jan 15.xlsx']

newlist = [f"Jan {x}.xlsx" for x in range(1, 32)]
newlist

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [75]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]
conversion_rate = 1.1
USDT = [amount * conversion_rate for amount in euros]
USDT

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [67]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [79]:
heights_for_ride = [height for height in heights if height >= 60]
heights_for_ride

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [90]:
test = ["Tall enough" if height > 60 else "Too short" for height in heights ]
test

['Tall enough',
 'Too short',
 'Too short',
 'Tall enough',
 'Tall enough',
 'Too short',
 'Too short',
 'Too short']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [98]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [107]:
# Only names
for key in people:
    print(key)

Aaron
Barbara
Clarence
Donovan
Erika
Fernando

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [118]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [147]:
# [k for k , v in people]
# [max(scores) for name, scores in people.items()]
d = people
[max(v) for (k,v) in d.items()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [141]:
my_dictionary = {"a": 1, "b": 2, "c": 3, "d": 4}
new_dictionary = {value:key for (key,value) in my_dictionary.items()}
print(new_dictionary)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [152]:
#my_dictionary[key]:key
# max((v,k) for k,v in d.items()) 
max((k,v) for k,v in d.items())

('Fernando', [84, 99, 0])

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [155]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [158]:
x = zip(letters_a, letters_z)
print(tuple(x))

(('A', 'Z'), ('B', 'Y'), ('C', 'X'), ('D', 'W'), ('E', 'V'))

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [162]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [166]:
math.pi

3.141592653589793

In [167]:
print (math.sin(math.pi/2))

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [171]:
math.e
print(math.e)
print ("Logarithm base 5 of 14 is : ", end="")
print (math.log(14,5))

2.718281828459045
Logarithm base 5 of 14 is : 1.6397385131955606

c) $e^{3!}$

In [174]:
math.exp(3)

20.085536923187668

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [175]:
import math

In [176]:
x = 3.8
math.ceil(x)

4

In [177]:
math.floor(x)

3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.